{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand pb-0" href="{% url 'index' %}">
            <h2 class="mb=0">AskMe</h2>
        </a>
        <form class="d-flex" role="search">
            <input class="form-control me-2 form" type="search" placeholder="🔍 Type to search" aria-label="Search"/>
        </form>
        <a href="{% url 'ask' %}" class="btn btn-outline-success">ASK!</a>
        <div class="d-flex gap-1">
            <img src="{% static "img/Avatar.jpeg" %}" width="50" alt="Avatar" class="img-thumbnail"/>
            <div>
                <div>Arina Askhabova</div>
                <a href="{% url 'settings' %}">settings</a>
                <a href="">log out</a>
            </div>
        </div>
    </div>
</nav>
<hr>
<main class="container mt-3">
    <div class="row">
        <div class="col-9">
            {% block content %}

            {% endblock %}
        </div>
        <div class="col-3">
            <section class="mb-4 mt-5">
                <h2>Popular Tags</h2>
                <div class="d-inline">
                    {% for tag in popular_tags %}
                        {% include 'components/tag.html' %}
                    {% endfor %}
                </div>
            </section>
            <section>
                <h2>Best Members</h2>
                <div>
                    {% for user in top_users %}
                        {% include 'components/user.html' %}
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</main>
<script src="../../static/js/bootstrap.js"></script>
</body>
</html>
