{% load static %}

<div>
    <div class="d-flex flex-column gap-3">
        <div class="card w-100 mt-3 border-dark" style="width: 18rem;">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <div class="border mb-3" style="height: 80px">
                            <img src="../static/img/questionImg.jpg" alt="Avatar" class="img-fluid">
                        </div>
                        <div class="counter-button mt-1">
                            <span class="minus bg-dark align-content-center">-</span>
                            <input type="number" class="count" name="counter-button" value="5">
                            <span class="plus bg-dark align-content-center">+</span>
                        </div>
                    </div>
                    <div class="col-10">
                        <h5 class="card-title">
                            <a href="{% url "one_question" question.id %}">{{ question.title }}</a>
                        </h5>
                        <p class="card-text">{{ question.text }}</p>
                        <div class="d-flex gap-5">
                            <a href="#" class="card-link">answer (3)</a>
                            <div>
                                Tags:
                                <a href="#" class="card-link">black-jack</a>
                                <a href="#" class="card-link">bender</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>