<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand pb-0" href="#">
          <h2 class="mb=0">AskMe</h2>
        </a>
        <form class="d-flex" role="search">
          <input class="form-control me-2 form" type="search" placeholder="🔍 Search" aria-label="Search"/>
        </form>
        <div class="d-flex gap-3">
            <a href="#">log in</a>
            <a href="#">register</a>
        </div>
      </div>
    </nav>
    <hr>

    <main class="container">
      <div class="row">
        <div class="col-9">

          <!-- {% block content %} -->
          <div class="d-flex align-items-center">
            <h2>New Question</h2>
          </div>

          <div class="row mt-3">
            <div class="col-1 d-flex justify-content-lg-start mt-3">Question</div>
            <div class="col-10">
              <div class="form-floating">
                <textarea class="form-control border-dark" placeholder="Leave a comment here" id="floatingTextarea1" style="height: 60px"></textarea>
                <label for="floatingTextarea1" class="text-secondary">How to build a moon park?</label>
              </div>
              <div class="row alert-message">
                <div class="col-10">
                  <div class="text-danger mt-3 d-flex justify-content-lg-start" role="alert">
                    Please, input your question!
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-1 d-flex justify-content-lg-start mt-3">Text</div>
            <div class="col-10">
              <div class="form-floating">
                <textarea class="form-control border-dark" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 200px"></textarea>
                <label for="floatingTextarea2" class="text-secondary">Really, how?<br/>Have no idea about it</label>
              </div>
              <div class="row alert-message">
                <div class="col-10">
                  <div class="text-danger mt-3 d-flex justify-content-lg-start" role="alert">
                    Please, input your question!
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-1 d-flex justify-content-lg-start mt-3">Tags</div>
            <div class="col-10">
              <div class="form-floating">
                <textarea class="form-control border-dark" placeholder="Leave a comment here" id="floatingTextarea3" style="height: 60px"></textarea>
                <label for="floatingTextarea3" class="text-secondary">moon, park, puzzle</label>
              </div>
              <div class="row alert-message">
                <div class="col-10">
                  <div class="text-danger mt-3 d-flex justify-content-lg-start" role="alert">
                    Please, input your question!
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-light border-dark mt-3">ASK!</button>
            </div>
          </div>
         <!-- {% endblock %} -->

        </div>
        <div class="col-3">
          <section class="mb-4 mt-5">
            <h2>Popular Tags</h2>
            <div class="d-inline">
              <span><a href="#" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">perl</a></span>
              <span><a href="#" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">python</a></span>
              <span><a href="#" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">TechnoPark</a></span>
              <span><a href="#" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">MySQL</a></span>
              <span><a href="#" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">django</a></span>
              <span><a href="#" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Mail.Ru</a></span>
              <span><a href="#" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Voloshin</a></span>
              <span><a href="#" class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Firefox</a></span>
            </div>
          </section>
          <section>
            <h2>Best Members</h2>
            <div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item p-0 border-0 mb-2"><a href="#">Mr. Freeman</a></li>
                <li class="list-group-item p-0 border-0 mb-2"><a href="#">Dr. House</a></li>
                <li class="list-group-item p-0 border-0 mb-2"><a href="#">Bender</a></li>
                <li class="list-group-item p-0 border-0 mb-2"><a href="#">Queen Victoria</a></li>
                <li class="list-group-item p-0 border-0 mb-2"><a href="#">A. Askhabova</a></li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </main>
    <script src="../static/js/bootstrap.js"></script>
  </body>
</html>
