{% extends './layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="d-flex flex-column gap-3 pe-1">
        <div class="card-body w-100 mt-3" style="width: 18rem;">
            <div class="row mt-4">
                <div class="col-4">
                    <div class="border mb-3" style="height: 140px">
                        <img src="jpg.jpg" alt="Avatar" class="img-fluid">
                    </div>
                    <div class="counter-button mt-1">
                        <span class="minus bg-dark align-content-center">-</span>
                        <input type="number" class="count" name="counter-button" value="5">
                        <span class="plus bg-dark align-content-center">+</span>
                    </div>
                </div>
                <div class="col">
                    <h2> How to build a moon park?</h2>
                    <p class="me-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa
                        qui officia deserunt mollit anim id est laborum.
                    </p>
                    <div class="d-flex gap-5">
                        <div class="mb-2">
                            Tags:
                            <a href="#" class="card-link">black-jack</a>
                            <a href="#" class="card-link">bender</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
     {% for answer in answers %}
        {% include './layouts/answer.html' %}
    {% endfor %}
    {% include './layouts/pagination.html' with content=answers %}
    <hr>
    <div class="form-floating mt-3 mb-3">
        <textarea class="form-control border-dark" placeholder="Leave a comment here" id="floatingTextarea1"
                  style="height: 130px"></textarea>
        <label for="floatingTextarea1" class="text-secondary">Enter your answer here..</label>
    </div>
    <button type="button" class="btn btn-primary bg-dark border-dark pe-3 mb-5">Answer</button>
{% endblock %}