<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand pb-0" href="#">
          <h2 class="mb=0">AskMe</h2>
        </a>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="🔍 Search" aria-label="Search"/>
          <button class="btn btn-outline-success me-1" type="submit">ASK!</button>
        </form>
        <div class="d-flex gap-1">
          <img src="../static/img/Avatar.jpeg" width="50" alt="Avatar" class="img-thumbnail"/>
          <div>
            <div>Arina Askhabova</div>
            <a href="#">settings</a>
            <a href="#">log out</a>
          </div>
        </div>
      </div>
    </nav>
    <hr>
    <main class="container mt-3">
      <div class="row">
        <div class="col-9">

          <!-- {% block div %} -->
          <div class="d-flex align-items-center mb-4">
            <h2>Registration</h2>
          </div>
          <div class="mb-3 row">
            <label for="inputLogin" class="col-sm-2 col-form-label me-3">Login</label>
            <div class="col-sm-5">
              <input type="text" class="form-control border-dark form" id="inputLogin" placeholder="dr_pepper">
              <div class="text-danger mt-3 d-flex justify-content-lg-start" role="alert">
                    Sorry, this login is already exists!
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputEmail" class="col-sm-2 col-form-label me-3">Email</label>
            <div class="col-sm-5">
              <input type="email" class="form-control border-dark form" id="inputEmail" placeholder="dr.pepper@mail.ru">
              <div class="text-danger mt-3 d-flex justify-content-lg-start" role="alert">
                    Sorry, this email address is already registered!
              </div>
            </div>
          </div>
          <div class="mb-4 row">
            <label for="inputNickName" class="col-sm-2 col-form-label me-3">NickName</label>
            <div class="col-sm-5">
              <input type="text" class="form-control border-dark form" id="inputNickName" placeholder="Dr.Pepper">
              <div class="text-danger mt-3 d-flex justify-content-lg-start" role="alert">
                    Sorry, this nickname is already taken!
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label me-3">Password</label>
            <div class="col-sm-5">
              <input type="password" class="form-control border-dark form" id="inputPassword" placeholder="********">
              <div class="text-danger mt-3 d-flex justify-content-lg-start" role="alert">
                    Password is too short!
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="repeatPassword" class="col-sm-2 col-form-label me-3">Repeat password</label>
            <div class="col-sm-5">
              <input type="password" class="form-control border-dark form" id="repeatPassword" placeholder="********">
              <div class="text-danger mt-3 d-flex justify-content-lg-start" role="alert">
                    Passwords don't match!
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputFile" class="col-sm-2 col-form-label me-3">Upload avatar</label>
            <div class="col-sm-5 pe-0">
              <div class="mb-3">
                <input type="file" class="form-control" id="inputFile" aria-label="file example" required>
                <div class="invalid-feedback">Example invalid form file feedback</div>
                <div class="text-danger mt-3 d-flex justify-content-lg-start" role="alert">
                    Please, upload file!
                </div>
                <button type="button" class="btn btn-light border-dark mt-4">Register!</button>
              </div>
            </div>
          </div>
          <!-- {% endblock %} -->

        </div>
        <div class="col-3">
          <section class="mb-4 mt-5">
            <h2>Popular Tags</h2>
            <div class="d-inline">
              <span><a href="#" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">perl</a></span>
              <span><a href="#" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">python</a></span>
              <span><a href="#" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">TechnoPark</a></span>
              <span><a href="#" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">MySQL</a></span>
              <span><a href="#" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">django</a></span>
              <span><a href="#" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Mail.Ru</a></span>
              <span><a href="#" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Voloshin</a></span>
              <span><a href="#" class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Firefox</a></span>
            </div>
          </section>
          <section>
            <h2>Best Members</h2>
            <div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item p-0 border-0 mb-2"><a href="#">Mr. Freeman</a></li>
                <li class="list-group-item p-0 border-0 mb-2"><a href="#">Dr. House</a></li>
                <li class="list-group-item p-0 border-0 mb-2"><a href="#">Bender</a></li>
                <li class="list-group-item p-0 border-0 mb-2"><a href="#">Queen Victoria</a></li>
                <li class="list-group-item p-0 border-0 mb-2"><a href="#">A. Askhabova</a></li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </main>
    <script src="../static/js/bootstrap.js"></script>
  </body>
</html>
